﻿@using EPiServer.Core

@{
    // Get a reference to the IContentRepository
    var repo = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.IContentRepository>();
    var childPages = Enumerable.Empty<PageData>();
    
    try { 
        childPages = repo.GetChildren<PageData>(ContentReference.StartPage);
    }
    catch
    {
        
    }
}

<b>@Html.PageLink(ContentReference.StartPage)</b>
@foreach(var page in childPages)
{
    <b>::
        @Html.PageLink(page)
    </b>
}
