﻿@model DefaultPageViewModel<ProductPage>

@{
    Layout = "~/Views/Shared/Layouts/_TwoPlusOne.cshtml";
}
<h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>
<p class="introduction" @Html.EditAttributes(x => x.CurrentPage.MetaDescription)>@Model.CurrentPage.MetaDescription</p>
<div class="row">
    <div class="span8 clearfix">
        @Html.PropertyFor(x => x.CurrentPage.MainBody)
    </div>
</div>
@Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "row", tag = "span8"})

@section RelatedContent
{
    <div @Html.EditAttributes(x => x.CurrentPage.PageImage)>
        <img src="@Url.ContentUrl(Model.CurrentPage.PageImage)" />
    </div>

    <div class="block colorBox theme1">
        <h2 @Html.EditAttributes(x => x.CurrentPage.PageName)>
            @Model.CurrentPage.PageName
        </h2>
        <p>@Html.PropertyFor(x => x.CurrentPage.UniqueSellingPoints)</p>
    </div> 
    @Html.PropertyFor(x => x.CurrentPage.RelatedContentArea, new { CssClass = "row", tag = "span4" })
}



